<app-header></app-header>
<div class="container position-absolute top-50 start-50 translate-middle shadow-lg h-75 p-4">
    <div class="border-bottom pb-3">
        <h3 class="d-inline pe-2 ">Products</h3>
        <button type="button" class="btn btn-success float-end">Add</button>
    </div>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Product Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Price</th>
                    <th scope="col">Product Config</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">3</th>
                    <td>Sla</td>
                    <td>Sla</td>
                    <td>Sla</td>
                    <td>Sla</td>
                    <td><button type="button" class="btn btn-danger me-2 btn-sm">Remove</button>
                        <button type="button" class="btn btn-info btn-sm">Edit</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>