<nav class="navbar navbar-expand-lg bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand text-light" href="#">Eletronic Commercer</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <form class="container-fluid justify-content-start">
                <button class="btn btn-secondary me-2" type="button">Home</button>
                <button class="btn btn-secondary me-2" type="button">Products</button>
            </form>
            <form class="d-flex p-2" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn btn-secondary" type="submit">Search</button>
            </form>
            <div class="d-flex p-2">
                <a class="navbar-brand" href="#">
                    <img [src]="'./assets/images/user.png'" alt="usericon" width="32" height="32">
                </a>
                <a class="navbar-brand" href="#">
                    <img [src]="'./assets/images/cart.png'" alt="usericon" width="32" height="32">
                </a>
            </div>
        </div>
    </div>
</nav>
<app-home class="d-flex flex-column min-vh-100"></app-home>
<router-outlet></router-outlet>
<footer class="container-fluid position-relative bottom-0 bg-dark p-2 mt-auto">
    <p class="text-center"><a href="http://github.com/yoruhinda"
            class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">&copy;
            2024
            Copyright:
            github.com/yoruhinda
            <br />&copy;MIT LICENSE</a></p>
</footer>