<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img [src]="'assets/images/teclado.jpg'" class="d-block w-100" alt="keyboard">
        </div>
        <div class="carousel-item">
            <img [src]="'assets/images/headset.jpg'" class="d-block w-100" alt="headset">
        </div>
        <div class="carousel-item">
            <img [src]="'assets/images/mause.jpg'" class="d-block w-100" alt="mause">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<div class="container-sm p-2">
    <div class="h4 pb-2 mb-4 text-dark border-bottom border-dark">
        Products
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card border-light text-bg-dark mb-3">
                <img [src]="'assets/images/teclado-logitech.png'" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Teclado Mecânico Gamer Logitech G PRO K/DA - Edição Oficial League of Legends
                        KDA
                    </h5>
                    <p class="card-text">Layout US, RGB LIGHTSYNC, Design TKL, Cabo Destacável e Switch Exclusivo GX
                        Brown Tactile</p>
                    <p class="card-text">R$ 699,90</p>
                    <a href="#" class="btn btn-light">Comprar</a>
                </div>
            </div>
        </div>
    </div>
</div>